body{
    
}
.list-inline {
    display:flex;
    list-style-type:none;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0;
    
}
.list-inline > li:nth-child(2) {
    margin-left: auto;
}
.sticky-navbar {
    padding: 10px;
    top: 0;
    position:-webkit-sticky;
    position: sticky;
    background-color: lightblue;
}
.hero {
    width: 100%;
    height: auto;
}
.profile {
    text-align: center;

}
.hero-container {
    text-align: center;
}
.about {
    text-align: center;
}