body {
    margin: 0px;
}

.list-inline {
    display:flex;
    list-style-type:none;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0;
}

.list-inline > li:nth-child(2) {
    margin-left: auto;
}

.sticky-navbar {
    padding: 10px;
    top: 0;
    position:-webkit-sticky;
    position: sticky;
    background-color: lightblue;
}

.hero-img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-container {
    text-align: center;
}

.profile {
    text-align: center;
}

.profile > img {
    border-radius: 100%;
}

.about {
    display: block;
    width: 60%;
    margin: 0px auto;
    text-align: center;
    min-width: 500px;
    max-width: 800px;
}

.fact-container {
    display: block;
    width: 50%;
    min-width: 500px;
    margin: 0px auto;
}

.fact {
    display: flex;
    justify-content: space-between;
}

.fact > .fact-text {
    width: 60%;
    margin: 0px 1rem;
}

.fact:nth-child(even) {
    flex-direction: row-reverse;
}